*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
}

section{
    background-color: #EE3038;
    height: 3.8rem;
}
span{
    color:#FFFCFC;
    font-family: 'Rubik';
}