<section class="container body-form">
    <div class="row">
        <picture class="p-5">
            <img src="../../../assets/img/logo.png" alt="">
        </picture>
        <form [formGroup]="formGroup" class="flex" (ngSubmit)="login()">
            <div class="mb-3">
                <label for="email"></label>
              <input name="email" formControlName="email" type="email" placeholder="example@gmail.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password"></label>
              <input name="password" formControlName="password" type="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recuérdame</label>
            </div>
            <button type="submit" data-bs-toggle="modal" class="btn btn-primary btn-style p-3" (click)="login()">Ingresar</button>
        </form>
    </div>
</section>
<footer class="footer">
    <img src="../../../assets/img/footer.svg" alt="">
</footer>

<form action=""></form>