
<table class="table simple-table">
    <thead class="table-head">
      <tr>
          <th>Nombre</th>
          <th>Dni/Cód. Trabajador</th>
          <th>Código de zona</th>
          <th></th>
          <th></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients"> <!--*ngFor="let product of products | paginate: { itemsPerPage: 5, currentPage: p }; index as i"-->
            <td>{{client.data.nombre}}</td>
            <td>{{client.data.documento}}</td>
            <td>{{client.data.codigoZona}}</td>
            <td>
                <img src="../assets/icon/edit.svg" (click)="editClient(client)">
            </td>
            <td>
                <img src="../assets/icon/trash.svg" (click)="deleteClient(client)">
            </td>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary btn-style">FINALIZAR PEDIDO</button>
