  <section style="display: none;">
        <div class="modal3">
            <div class="overlay"></div>
            <div class="modal_content">
                <div class="ctn-edit-user">
                    <div class="form">
                        <h5 class="nameDelete" id="modal-delete">Se removerá un ítem de tu  carrito de compras</h5>
                      <div class="cancel-save">
                        <button type='button' class="save" >Aceptar</button>
                        <button type='button' class="cancel">Cancelar</button>
                      </div>
                    </div>
                </div>
            </div>          
        </div>
</section>  

 <section *ngIf="visibleDeleteClient"> 
    <div class="modal3">
        <div class="overlay"></div>
        <div class="modal_content">
            <div class="ctn-edit-user">
                <div class="form">
                    <h5 class="nameDelete" id="modal-delete">Se removerá un ítem de tu  lista de clientes</h5>
                  <div class="cancel-save">
                    <button type='button' class="save" (click)="deleteClient()">Aceptar</button>
                    <button type='button' class="cancel" (click)="closeModalDelete()">Cancelar</button>
                  </div>
                </div>
            </div>
        </div>          
    </div>
</section> 

 <section style="display: none;" >
    <div class="modal3">
        <div class="overlay"></div>
        <div class="modal_content">
            <h2>¡Felicidades!</h2>
            <div class="ctn-edit-user">
                <div class="form">
                    <h5 class="nameDelete" id="modal-delete">Tu pedido ha sido registrado exitosamente y será descontado en tu próxima planilla.</h5>
                  <div class="cancel-save">
                    <button type='button' class="save">Aceptar</button>
                  </div>
                </div>
            </div>
        </div>          
    </div>
</section> 