.modal3 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background: rgba(0, 0, 0, 0.85);
}
.modal_content {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 4px;
    max-width: 380px;
    width: 350px;
    border: 2px solid #EE3038;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    .form{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
}
.ctn-edit-user {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    h2 {
        font-size: 2em;
        text-align: center;
      } 
      }
.cancel-save {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        button {
          padding: 10px 40px;
          border-radius: 5px;
          cursor: pointer;
          box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
          border: none;
          &:hover{
            transform: scale(1.03);
          }
        }
        button.cancel {
            color: #323232;
            background: #FFFCFC;
          }
          button.save {
            background: #EE3038;
            color: #FFFCFC;
          }
}
.close_modal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.5;
    background: none;
    border: none;
    transition: opacity 0.2s ease;
}