
.container{
    display: flex;
}
.quantity{
    display: flex;
    width: 7rem;
    justify-content: space-evenly;
    align-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
}
.image-quantity{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.quantity button{
    border-radius: 50%;
}

