<div class="card mb-3" > <!-- style="width: 18rem;" --><!-- *ngFor="let product of items" -->
    
    <div class="g-0 container" *ngFor="let products of products | filter : search : cart " >
    
        <div class="col-md-4 image-quantity">
            <img [src]=" products.data.img" class="img-fluid rounded-start" style="width: 8rem" alt="..."> <!-- [src]="product.image" -->
            
            <div class="quantity">
                <button class="btn btn-danger" (click)="minus(products.id)"><i class="fas fa-minus-circle"></i></button> <!-- (click)="minousOne(product)" -->
                <p class="card-text">{{products.qty}}</p>
                <button class="btn btn-danger" (click)="plus(products.id)"><i class="fas fa-plus-circle"></i></button> <!-- (click)="plusOne(product)" -->  
            </div>
        </div>
        <div class="card-body" >
            <div class="col-md-8">    
                <h5 class="card-title">{{products.data.categoria}}</h5> <!-- {{ product.name }} -->
                <h6 class="card-subtitle mb-2 text-muted">{{products.data.name}}</h6>
                <p class="card-text">Precio: S/.{{products.data.precio}}</p> <!-- {{ product.price | currency:'S/.' }} -->
                <p class="card-text">Precio sugerido: S/. {{products.data.sugerido}}</p>
                <button *ngIf="!products.status" class="btn btn-danger" (click)="add(products)">AGREGAR <i class="fas fa-shopping-cart"></i></button>
                <button *ngIf="products.status" class="btn btn-danger" (click)="delete(products)">QUITAR <i class="fas fas fa-trash-alt"></i></button>
                <!-- <button class="btn btn-danger" (click)="addCart(product)">AGREGAR <i class="fas fa-shopping-cart"></i></button> -->
            </div>
        </div>

    </div>
</div>
