section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

img{
    width: 28px;
    height: 25px;
    margin-left: 18px;
    margin-top: 18px;
}

p{
    align-self: center;
    font-family: 'Rubik';
    font-weight: bold;
    margin-top: 13px;
}