.nava{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-around;
    font-family: "Karla", sans-serif;
    align-items: center;
    background-color: #f36404;
    color: black;
    z-index: 1000;
}
.nava .list-nava {
    top: 51px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #f48f5f;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.5s ease-in-out;
    justify-content: space-evenly;
  }