<app-nav-bar></app-nav-bar>
<app-saldo-disponible
  (goBack)="goBack()"  >
</app-saldo-disponible>

<div *ngIf="(products$ | async) as products">
    <div *ngIf="products.length === 0" class="alert alert-secondary" role="alert">
        El carrito está vacío. 
        <br>
        Agreguemos productos del catálogo.
        <br>
        Volvamos.
    </div>
    <!-- <ul>
        <li *ngFor="let product of products">
            {{product.data.categoria}}
        </li>
    </ul> -->
    <div *ngFor="let product of products">
        <h5 class="card-title">{{product.data.categoria}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{product.data.name}}</h6>
        <p class="card-text">Cómpralo a: S/.{{product.data.precio}}</p> 
        <p class="card-text">Véndelo a:S/.{{product.data.sugerido}}</p>
        <p class="card-text">Ganancia:S/.{{product.data.precio - product.data.sugerido}}</p>
    </div>
</div>

<!-- <ul>
    <li *ngFor="let product of (products$ | async)">
        Nombre producto
    </li>
</ul> -->
