.formClient{
    display: flex;
    flex-direction: column;
}


.checkbox{
    display: flex;
    justify-content: space-around;
    font-family: 'Rubik';
    padding: 5%;
}

#para-mi, #otro-cliente{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin-left: 30px;
    // justify-content: center;
    font-family: 'Rubik';
    font-weight: bold;
}

span{
    font-family: 'Rubik';
    font-weight: lighter;
}

.btnAgregar{
    background-color: #EE3038;
    align-self: center;
    margin-top: 18px;
    margin-bottom: 18px;
    border-radius: 50px;
    width: 55%;
}

// .btn-style{
//     margin-left: 20%;
//     margin-right: 20%;
//     margin-top: 0.8rem;
//     background-color:#EE3038;
//     width: 55%;
//     border-radius: 50px;
//     border: 1px solid $primary;
//     &:hover{
//         background-color: $primary;
//     }
// }